.chat {
    border: 1px solid black;
    width: 25rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    
    /* text-align: left; */
}


.chat-messages {
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 1px solid black;
    height: 70%;
    
    padding-left: 12px;
    padding-right: 12px;
    justify-content: left;

}

.chat-message {
    text-align: left;
}

.username {
    font-weight: bold;
}

.chat-action-row {
    display: flex;
    flex-grow: 1;
}

.chat-input {
    width: 60%;
    /* height: 100%; */
    /* display: flex; */
    /* height: fit-content; */
}

.chat-send-button {
    flex-grow: 1;
}
